<%- include("partials/header.ejs") %>
    <%if (locals.joke) {%>
        <div class="joke-container">
            <div class="question-container">
                <%= joke.question %>
            </div>
            <div>
                <button onclick="revealAnswer()">
                    <%= joke.question.split(' ')[0]  %>?</button>
            </div>
            <div class="answer-container" id="answer">
                <%=joke.answer %>
            </div>
        </div>
        <%}%>
            <%if (locals.error) {%>
                <div class="container">
                    <div class="error-container" id="tag-error" class="tag-error">
                        <%=error%>
                    </div>
                </div>
                <%}%>
                    <%- include("partials/footer.ejs") %>